*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #FAFEEB;
}


.column{
    display:flex;
    flex-direction: column;
    border: 1px solid red;
    width: 5vh;
    height: 5vh;

}

.row{
    display:flex;
}

/* the codes below are the first attempt with grid-layout. I failed. Now I will try to make 16x16 grids with flexbox-layout. So they can shrink and whatnot. */
/* 
@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');

.title-wrapper{
    border: 5px solid red;
    border-radius: 10px;
    width: fit-content;
    margin:auto;
    padding:5px;

}

.title {
    text-align: center;
    font-family: 'Chokokutai', cursive;
    font-size: 150px;
    min-width: 800px;
    white-space: nowrap;
    
}

.contentWrapper {
    width: fit-content;
    margin:auto;
    margin-top: 2px;
    border: 5px solid red;
    border-radius: 10px;

}  

.container {
    display:grid;
    grid-template-columns: repeat(16,0fr);
    width: fit-content;

}  

.line {
    width: 30px;
    height: 30px;
    border: 1px solid;
    transition:0s 180s;
}

.colored:hover {
    background-color: pink;
    transition:0s;
} 

.buttonWrapper{
    width: fit-content;
    margin:auto;
    margin-top:3px;

}

.buttons{
    border: 5px solid red;
    border-radius: 10px;
    padding:10px;
    font-family: 'Chokokutai', cursive;
    font-size: 50px;
    margin: 10px;
    text-align: center;

} */
