
@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');

.title-wrapper{
    border: 5px solid red;
    border-radius: 10px;
    width: fit-content;
    margin:auto;
    padding:5px;

}

.title {
    text-align: center;
    font-family: 'Chokokutai', cursive;
    font-size: 150px;
    min-width: 800px;
    white-space: nowrap;
    
}

.contentWrapper {
    width: 512px;
    height: 512px;
    margin:auto;
    margin-top: 2px;
    border: 5px solid red;
    border-radius: 10px;

}  

.container {
    display:grid;
    grid-template-columns: repeat(16, 0fr);
    overflow: hidden;
}  

.mediumLine {
    width: 30px;
    height: 30px;
    border: 1px solid;
    transition:0s 180s;
}

.smallLine {
    width: 15px;
    height: 15px;
    border: 1px solid;
    transition:0s 180s;
}

.largeLine {
    width: 63px;
    height: 63px;
    border: 1px solid;
    transition:0s 180s;
}

.colored:hover {
    background-color: pink;
    transition:0s;
} 

.buttonWrapper{
    width: fit-content;
    margin:auto;
    margin-top:3px;

}

.buttons{
    border: 5px solid red;
    border-radius: 10px;
    padding:10px;
    font-family: 'Chokokutai', cursive;
    font-size: 50px;
    margin: 10px;
    text-align: center;

} 

.resetWrapper{
    display:flex;
    justify-content: center;

}
